/*body {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    min-height: 100vh;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/
h1 {
    margin-top: 20px;
    color: #67595E;
    font-size: 22px;
    font-family: Inter, sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

h2 {
    color: #A49393;
    font-size: 18px;
    font-family: Inter, sans-serif;
    text-align: center;
}


.css-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin: auto;
    padding: 20px 40px 40px 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #67595E;
    padding: 20px;
    background-color: #EED6D3;
}
form h1, form label, form input, form button {
    display: block;
    margin-bottom: 10px;
}

form h1 {
    color: #67595E;
    font-size: 18px;
    font-family: Inter, sans-serif;
    text-align: center;
    margin-bottom: 5px;
}

form h2 {
    color: #A49393;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}
.grid-item {
    display: flex;
    flex-direction: column;
}

.grasp-patterns {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form label {
    color: #67595E;
    font-size: 14px;
    font-family: "Arial", sans-serif;
    margin-bottom: 5px;
}

form button {
    padding: 10px;
    background-color: #E8B4B8;
    color: #67595E;
    border: 0.5px solid #67595E;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}